<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<p>By: <%= link_to @post.blogger.name, blogger_path(@post.blogger) %></p>
<p>About: <%= link_to @post.destination.name, destination_path(@post.destination) %></p>

<% if @post.is_liked == false %>
    <%= button_to "LIKE", add_like_post_path(@post), method: :put %>
<% end %>

<h2>Likes: <%= @post.likes %></h2>